<main class="container">
  <div class="row mb-2" style="margin-top: 20vh;">

    <div class="col-md-6" >
      <div class=" row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      style="background-color: rgb(202, 255, 206); color:rgb(0, 49, 0); font-family: 'Roboto Slab', serif; border-radius: 10px;">
      <div class="col p-4 d-flex flex-column position-static">

        <h3 class="mb-0">ALUMNI FEST</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-auto">Sathyabama Institute of Science and Technology, formerly Sathyabama University, is
          a private deemed to be university.</p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="https://www.sathyabama.ac.in/sites/default/files/inline-images/FT2A7228_1.jpg" class="img-fluid "
          style=" width:250px; height: 210px; border-radius: 10px; ">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      style="background-color: rgb(202, 255, 206); color:rgb(0, 49, 0); font-family: 'Roboto Slab', serif;">
      <div class="col p-4 d-flex flex-column position-static">

        <h3 class="mb-0">ALUMNI</h3>
        <div class="mb-1 text-muted">Nov 11</div>
        <p class="mb-auto">Sathyabama Institute of Science and Technology, formerly Sathyabama University, is a private
          deemed to be university.</p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="https://sathyabamaun1versity.files.wordpress.com/2012/04/13thsundaresh_629415f.jpg
            " class="img-fluid " style=" width:250px; height: 210px; border-radius: 10px; ">

      </div>
    </div>
  </div>
  <div class="col-md-6" >
    <div class=" row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    style="background-color: rgb(202, 255, 206); color:rgb(0, 49, 0); font-family: 'Roboto Slab', serif; border-radius: 10px;">
    <div class="col p-4 d-flex flex-column position-static">

      <h3 class="mb-0">ALUMNI FEST</h3>
      <div class="mb-1 text-muted">Nov 12</div>
      <p class="card-text mb-auto">Sathyabama Institute of Science and Technology, formerly Sathyabama University, is
        a private deemed to be university.</p>

    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="https://www.sathyabama.ac.in/sites/default/files/inline-images/FT2A7228_1.jpg" class="img-fluid "
        style=" width:250px; height: 210px; border-radius: 10px; ">
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    style="background-color: rgb(202, 255, 206); color:rgb(0, 49, 0); font-family: 'Roboto Slab', serif;">
    <div class="col p-4 d-flex flex-column position-static">

      <h3 class="mb-0">ALUMNI</h3>
      <div class="mb-1 text-muted">Nov 11</div>
      <p class="mb-auto">Sathyabama Institute of Science and Technology, formerly Sathyabama University, is a private
        deemed to be university.</p>

    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="https://sathyabamaun1versity.files.wordpress.com/2012/04/13thsundaresh_629415f.jpg
          " class="img-fluid " style=" width:250px; height: 210px; border-radius: 10px; ">

    </div>
  </div>
</div>
<div class="col-md-6" >
  <div class=" row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  style="background-color: rgb(202, 255, 206); color:rgb(0, 49, 0); font-family: 'Roboto Slab', serif; border-radius: 10px;">
  <div class="col p-4 d-flex flex-column position-static">

    <h3 class="mb-0">ALUMNI FEST</h3>
    <div class="mb-1 text-muted">Nov 12</div>
    <p class="card-text mb-auto">Sathyabama Institute of Science and Technology, formerly Sathyabama University, is
      a private deemed to be university.</p>

  </div>
  <div class="col-auto d-none d-lg-block">
    <img src="https://www.sathyabama.ac.in/sites/default/files/inline-images/FT2A7228_1.jpg" class="img-fluid "
      style=" width:250px; height: 210px; border-radius: 10px; ">
  </div>
</div>
</div>
<div class="col-md-6">
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  style="background-color: rgb(202, 255, 206); color:rgb(0, 49, 0); font-family: 'Roboto Slab', serif;">
  <div class="col p-4 d-flex flex-column position-static">

    <h3 class="mb-0">ALUMNI</h3>
    <div class="mb-1 text-muted">Nov 11</div>
    <p class="mb-auto">Sathyabama Institute of Science and Technology, formerly Sathyabama University, is a private
      deemed to be university.</p>

  </div>
  <div class="col-auto d-none d-lg-block">
    <img src="https://sathyabamaun1versity.files.wordpress.com/2012/04/13thsundaresh_629415f.jpg
        " class="img-fluid " style=" width:250px; height: 210px; border-radius: 10px; ">

  </div>
</div>
</div>
  </div>
</main>